#mains4 div #intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

#mains4 div #consejos {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  #mains4 div #consejos div {
    margin: 0px 0 10px 0; }
  #mains4 div #consejos #tyt {
    padding: 0 10px 0 10px; }
    #mains4 div #consejos #tyt div p {
      text-align: justify; }

#mains4 div #titulo h2 {
  font-weight: bold;
  color: #412513; }

#mains4 div #intro {
  border-bottom: solid;
  border-width: 1em;
  border-color: #573f1a; }
  #mains4 div #intro p {
    font-size: 110%;
    color: #412513; }

.consej-basic {
  border-bottom: solid;
  border-width: 1em;
  border-color: #573f1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .consej-basic div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .consej-basic div img {
      width: 400px;
      height: auto; }
    .consej-basic div div {
      margin-left: 10px;
      margin-right: 10px; }
      .consej-basic div div h5 {
        color: #412513;
        font-size: 2em;
        width: auto;
        font-weight: 500; }
      .consej-basic div div p {
        color: #412513;
        width: auto;
        font-weight: 500; }

header div div img {
  border-radius: 60px; }

h2 {
  color: #201e1e;
  font-size: initial/2; }

h3 {
  color: #201e1e;
  font-size: initial/3;
  font-style: italic; }

.fondo-azulg, .fonto-ventasantiguas {
  background-color: rgba(126, 106, 218, 0.671);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 15px 15px; }

.fonto-ventasantiguas {
  background-color: rgba(0, 0, 0, 0.424);
  padding: 8px 8px; }

.fondo-amarillog, .fonto-ventasantiguas {
  background-color: rgba(236, 182, 83, 0.671);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 15px 15px; }

.fonto-ventasantiguas {
  background-color: rgba(0, 0, 0, 0.424);
  padding: 8px 8px; }

.fondo-rojog, .fonto-ventasantiguas {
  background-color: rgba(182, 67, 67, 0.705);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 15px 15px; }

.fonto-ventasantiguas {
  background-color: rgba(0, 0, 0, 0.424);
  padding: 8px 8px; }

.fondo-blancog, .fonto-ventasantiguas {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 15px 15px; }

.fonto-ventasantiguas {
  background-color: rgba(0, 0, 0, 0.424);
  padding: 8px 8px; }

.lados-base {
  height: auto !important;
  width: 400px !important; }

.lados-pples {
  height: auto !important;
  width: 500px !important; }

#mains3 div {
  margin-bottom: 20px; }
  #mains3 div ~ div {
    margin-bottom: 10px; }
  #mains3 div #titulos3 {
    width: 100%; }
  #mains3 div #contppal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(122, 86, 17, 0.781);
    border-radius: 10px;
    padding: 3px 12px 0 12px; }
    #mains3 div #contppal #textos3 {
      margin-bottom: 0; }
  #mains3 div #imgs3 {
    margin-bottom: 5px; }
  #mains3 div div table {
    border: solid 1px #c7850b; }
    #mains3 div div table tr td {
      border: solid 1px #c7850b;
      color: #201e1e !important;
      margin: 0.5em 1em 0.5em 0 !important;
      color: #201e1e !important; }
      #mains3 div div table tr td ul {
        margin: 0.5em 1em 0.5em 0 !important; }
        #mains3 div div table tr td ul li {
          color: #201e1e; }
      #mains3 div div table tr td ol {
        margin: 0.5em 1em 0.5em 0 !important; }
        #mains3 div div table tr td ol li {
          color: #201e1e; }
    #mains3 div div table tr th {
      color: #201e1e; }
  #mains3 div #linkcomprar a {
    text-decoration: none; }

#mains3 #ventasemana #contppal h3 {
  color: black; }

#mains3 #ventasantiguass3 #contventas {
  background-color: rgba(255, 238, 205, 0.781);
  border-radius: 10px;
  padding: 1px 12px 0 12px; }
  #mains3 #ventasantiguass3 #contventas > div {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: solid 1px #585754;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #mains3 #ventasantiguass3 #contventas > div div {
      margin-bottom: 5px; }
  #mains3 #ventasantiguass3 #contventas #ventaD {
    border-bottom: none; }

#mains3 #ventasantiguass3 #tituloantiguos3 {
  padding-top: 20px;
  text-align: left; }

#mains3 p {
  font-weight: lighter; }

#mains2 {
  /* border: solid 3px black; */
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "cats2 cats2 cats2 cats2 cats2" "d1 d11 d12 d13 d14" "d2 d21 d22 d23 d24" "d3 d31 d32 d33 d34" "d4 d41 d42 d43 d44" "d5 d51 d52 d53 d54" "d6 d61 d62 d63 d64" "d7 d71 d72 d73 d74";
  justify-items: center;
  align-items: center;
  justify-self: center;
  width: auto; }
  #mains2 div a {
    text-decoration: none; }
  #mains2 #titulos2 {
    align-self: start;
    justify-self: left; }
    #mains2 #titulos2 #cats2 {
      grid-area: cats2; }

#d1 {
  grid-area: d1;
  justify-self: left; }

#d2 {
  grid-area: d2;
  justify-self: left; }

#d3 {
  grid-area: d3;
  justify-self: left; }

#d4 {
  grid-area: d4;
  justify-self: left; }

#d5 {
  grid-area: d5;
  justify-self: left; }

#d6 {
  grid-area: d6;
  justify-self: left; }

#d7 {
  grid-area: d7;
  justify-self: left; }

.letraitalic {
  font-family: 'Lobster', cursive;
  /* transform: scale(1.5); */ }

#d11 {
  grid-area: d11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#contentrada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.8);
  border-radius: 10%;
  margin: 0px 15px 15px 0px;
  min-width: 150px;
  min-height: 200px;
  /* box-shadow: inset 0 0 4px 3px rgb(223, 187, 154); */ }

#contentrada div {
  text-align: center; }

.modal-body div div {
  text-align: center; }

.botoncolor {
  background-color: #b36c1b;
  border-color: wheat; }

#d12 {
  grid-area: d12; }

#d13 {
  grid-area: d13; }

#d14 {
  grid-area: d14; }

#d21 {
  grid-area: d21; }

#d22 {
  grid-area: d22; }

#d23 {
  grid-area: d23; }

#d24 {
  grid-area: d24; }

#d31 {
  grid-area: d31; }

#d32 {
  grid-area: d32; }

#d33 {
  grid-area: d33; }

#d34 {
  grid-area: d34; }

#d41 {
  grid-area: d41; }

#d42 {
  grid-area: d42; }

#d43 {
  grid-area: d43; }

#d44 {
  grid-area: d44; }

#d51 {
  grid-area: d51; }

#d52 {
  grid-area: d52; }

#d53 {
  grid-area: d53; }

#d54 {
  grid-area: d54; }

#d61 {
  grid-area: d61; }

#d62 {
  grid-area: d62; }

#d63 {
  grid-area: d63; }

#d64 {
  grid-area: d64; }

#d71 {
  grid-area: d71; }

#d72 {
  grid-area: d72; }

#d73 {
  grid-area: d73; }

#d74 {
  grid-area: d74; }
